@font-face {
    font-family: 'arrows';
    src: url('../fonts/arrows/arrows.eot');
    src: url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
        url('../fonts/arrows/arrows.woff') format('woff'),
        url('../fonts/arrows/arrows.ttf') format('truetype'),
        url('../fonts/arrows/arrows.svg#arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bb-custom-wrapper nav {
    width: 100%;
    height: 30px;
    margin: 1em auto 0;
    position: relative;
    z-index: 0;
    text-align: center;
}

.bb-custom-icon:before {
    font-family: 'arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    line-height: 30px;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
    content: "\e003";
}

.bb-custom-icon-arrow-left:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Custom styles for images */
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.image-wrapper img {
    max-width: 90%;  /* Ensure the images fit within the container */
    height: auto;
    object-fit: contain;
    max-height: 85vh; /* Ensures the image fits within the viewport height */
    display: block;
    margin: auto;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
    .bb-item img {
        max-width: 100%;
        max-height: 70vh;
    }
}
